<%- include("partials/header") %> 

<h1>Contact</h1>
<p><%= contactpara %> </p>
<p>Contact: 9464335503</p>
Email at: <a href="mailto:porashchauhan14@gmail.com">Porash Chauhan</a>
<%- include("partials/footer") %> 